<h1>Eat-Da-Burger</h1>

<h2>Please enter a burger you'd like:</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit" id="submit">Add Burger</button>
</form>

<h2>Cats that are not sleepy!</h2>
<ul>
  {{#each burgers}}
  
  {{/each}}
</ul>

<ol>
    {{burgers}}<br>
    {{burgers}}

</ol>
<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burgers}}
  {{#if state}}
  {{> burgers/burger-block }}
  {{/if}}
  {{/each}}
</ul>

